{{define "base"}}
<!DOCTYPE html>
<html lang="en" x-data="{ current: window.location.pathname }">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{block "title" .}}{{.SiteTitle}}{{end}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600;700&family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/alpine.js" defer></script>
</head>
<body>
    <div class="page-wrap">
        <header class="navbar">
            <div class="container navbar-inner">
                <a href="/" class="logo">
                    <span class="logo-badge"></span>
                    <span>{{.OwnerName}}</span>
                </a>
                {{template "nav" .}}
            </div>
        </header>

        <main>
            {{block "content" .}}{{end}}
        </main>

        {{template "footer" .}}
    </div>
</body>
</html>
{{end}}